<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364075813917-b30bsuh6ph8hr4v35ovrr9qef1jgtehi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364075813917-b30bsuh6ph8hr4v35ovrr9qef1jgtehi</string>
	<key>API_KEY</key>
	<string>AIzaSyACFfXdnLhVn1TknHAtHQMwEJJvNxQNywk</string>
	<key>GCM_SENDER_ID</key>
	<string>364075813917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>namerecorder-2f24c</string>
	<key>STORAGE_BUCKET</key>
	<string>namerecorder-2f24c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364075813917:ios:dee596a024a429b0eb8af4</string>
</dict>
</plist>